.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 0px;
    gap: 30px;
    width: 100%;
    background-color: rgb(56, 56, 56);
    z-index: 2;
    position: relative;

    .knowledges,
    .examples,
    .asd {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 230px 30px 0px 30px;
        margin: 200px 0px;
        transition: all 0.5s, rotate 10s;
        background: transparent;

        animation-name: letat;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        &:hover {
            scale: 1.1;
            box-shadow: 0px 0px 50px black;
            rotate: 2000deg;
        }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 36px;
            color: white;
        }

        h2 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 24 px;
            color: white;
        }

        ol {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            gap: 5px;

            li {
                list-style-type: none;
                color: rgb(228, 228, 228);
                font-size: 18px;
            }
        }
    }
}

@keyframes letat {
    0% {
        translate: 0px 0px;
        margin: 0px 0px;
        padding: 0px 30px 0px 30px;
    }

    20% {
        translate: 200px 200px;
        margin: 200px 0px;
        padding: 0px 30px 0px 30px;
    }

    40% {
        translate: 200px -200px;
        margin: 0px 0px;
        padding: 230px 30px 0px 30px;
    }

    60% {
        translate: -200px -200px;
        margin: 0px 0px;
        padding: 230px 30px 0px 30px;
    }

    80% {
        translate: -200px 0px;
        margin: 0px 0px;
        padding: 230px 30px 0px 30px;
    }

    100% {
        translate: 0px 0px;
        margin: 0px 0px;
        padding: 0px 30px 0px 30px;
    }
}