.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    width: 100%;
    background-color: rgb(32, 32, 32);

    .headUp{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 5px;

        h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 48px;
            color: white;
        }

        p{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
            color: rgb(190, 190, 190);
        }
    }

    .headDown{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 0 auto;
        gap: 5px;

        nav{
            display: flex;
            gap: 10px;
            color: white;
        }
    }
}